name: Auto Label PRs

permissions:
  contents: read
  pull-requests: write

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  label:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: actions/labeler@v5
        with:
          repo-token: ${{ github.token }}
          sync-labels: true
          configuration-path: .github/labeler.yml
